{% extends "base.html" %}

{% block title %}Poulailler{% endblock %}

{% block content %}

<h1 class="text-center mb-4"> Poulailler Intelligent </h1>

<div class="row g-4">

<div class="col-md-4">
  <div class="card text-bg-primary">
    <div class="card-body">
      <h5>Température</h5>
      <h2 id="temp">{{ data.temperature }} °C</h2>
    </div>
  </div>
</div>

<div class="col-md-4">
<div class="card text-bg-success">
<div class="card-body">
<h5>Humidité</h5>
<h2 id="hum">{{ data.humidity }} %</h2>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card text-bg-warning">
<div class="card-body">
<h5>LDR</h5>
<h2 id="ldr">{{ data.ldr }}</h2>
</div>
</div>
</div>

<div class="col-md-6">
<div class="card text-bg-danger">
<div class="card-body">
<h5>Gaz</h5>
<h2 id="gaz">{{ data.mq135 }}</h2>
</div>
</div>
</div>

<div class="col-md-6">
 <div class="card text-bg-dark">
  <div class="card-body">
    <h5>Vent</h5>
    <h2 id="wind">{{ data.wind }} m/s</h2>
  </div>
 </div>
</div>

</div>
<div class="card mt-4">
  <div class="card-body">
    <h5>Température (temps réel)</h5>
    <canvas id="tempChart"></canvas>
  </div>
</div>

{% endblock %}